@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>JeffBot2 is a Markov Chain and Neural Network based artificial intelligence chat bot program. It was built in an afternoon using C# by <a href="https://github.com/ARMmaster17">Joshua Zenn</a>.
   JeffBot2 learns by talking with people. Every time you send a message, JeffBot2 will analyze the structure of your message and store it in memory.</p>
