@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h2 class="form-signin-heading">Hi, I'm JeffBot</h2>
    <div class="input-group">
        <input type="text" id="inputArg" class="form-control" placeholder="Say something nice..." required autofocus>
        <div class="input-group-btn">
            <input type="button" value="Send" id="msgTrigger" class="btn btn-success">
        </div>
    </div>
    <div id="messageQueue"></div>
    <div class="message_info">We are currently experience a heavy load on our servers. JeffBot2 may take a few seconds to respond. Remember that JeffBot2 works best when you only send one sentence at a time!</div>
</div>
<script>
    $('#msgTrigger').on('click', function (e) { sendMessage(); });
    $('#inputArg').on('keyup', function (e) {
        if(e.keyCode == 13) {
            sendMessage();
        }
    });

    function sendMessage() {
        var msg = $('#inputArg').val();
        $('#inputArg').val("");
        $.get("http://jeffchatbot2learnapi.azurewebsites.net/api/learn", { arg: msg }, function (result) {
            $("#messageQueue").prepend("<div class=\"message_container\"><div class=\"message_user\">" + msg + "<br>(" + result + ")</div></div>");
        });
        $.get("http://jeffchatbot2api.azurewebsites.net/api/build", { arg: msg }, function (result) {
            $("#messageQueue").prepend("<div class=\"message_container\"><div class=\"message_jeff\">" + result + "</div></div>");
        });
    }
</script>